{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>


<div class="container d-flex justify-content-center mt-3">
  <div class="row"> 
    <div class="col-12">
    <div class="text-center mb-3">
        <a href="{% url 'job_list' %}" class="btn btn-light ">
    Назад
</a>
      </div>
      <div class="card shadow border-0" style="width:100%; max-width:420px; border-radius:15px;">
        <div class="card-body">
          <h3 class="fw-bold text-center mt-3 mb-3">Увійти</h3>
            <form method="post">
              <div class="col-md-6 fw-bold mb-3">
                  <label class="form-label">Введіть Логін:</label>
                  {{ form.username }}
              </div>
              <div class="col-md-6 fw-bold mb-1">
                  <label class="form-label">Введіть пароль:</label>
                  {{ form.password }}
              </div>
                <p class="mb-3">Забули пароль?</p>

                <button type="submit" class="btn-L w-100">Увійти</button>
            </form>
            <p class="mt-3 text-center">
                Якщо у вас ще немає акаунта, будь ласка
                <a href="{% url 'signup_cho' %}" class="fw-semibold text-decoration-none">
                    зареєструйтесь
                </a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}