{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>


<div class="container d-flex justify-content-center mt-3">
  <div class="row"> 
    <div class="col-12">
      <div class="text-center mb-3">
        <a href="{% url 'job_list' %}" class="btn btn-light ">
          Назад
        </a>
      </div>
      <div class="card shadow border-0" style="width:100%; max-width:420px; border-radius:15px;">
        <div class="card-body">
          <h3 class="fw-bold text-site text-center mt-3 mb-3">Увійти</h3>
            <form method="post">
              {% csrf_token %}
              <div class=" fw-bold mb-3">
                  <label class="form-label">Введіть Логін:</label>
                  {{ form.username }}
              </div>
              <div class=" fw-bold">
                  <label class="form-label">Введіть пароль:</label>
                  {{ form.password }}
              </div>
                <p class="mt-1">
                  <a class="link-offset-2 link-underline link-underline-opacity-0"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Забули пароль?
                  </a>
                </p>
                <button type="submit" class="btn-L w-100 mt-2 ">Увійти</button>
            </form>
            <p class="mt-1 text-center">
                Якщо у вас ще немає акаунта, будь ласка
                <a href="{% url 'signup_cho' %}" class="fw-semibold text-decoration-none">
                    зареєструйтесь
                </a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">JobSearch</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>А не треба було забувати, умник</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}