{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ employer.name_company }}</h1>

    {{ employer.description }}|
    {{ employer.employer_type }}|
    {{ employer.role }}|
    {{ employer.referral_company }}|
    {{ employer.website }}|

<a href="{% url 'job_creat' %}">
    Створити вакансію
</a>

<h3>Ваші вакансій:</h3>
{% for job in jobs %}
    <div class="vacancy-item">
        <strong>{{ job.title }}</strong> | 
        {{ job.category }} | 
        {{ job.city }} |
        <p>{{ job.description }}</p> </div>
        <p>Заявок({{ job.applications.count }})</p>
                <a href="{% url 'job_update' job.pk %}" class="btn btn-L">
            Редагувати мою вакансію
        </a>
        <a href="{% url 'job_delete' job.pk %}" class="btn btn-danger">delete</a>
    
{% empty %}
    <p>Ви ще не створили жодної вакансії.</p>
{% endfor %}

<h3>Заявки на вакансії:</h3>
<p>Знайдено заявок: {{ applications.count }}</p>
{% for application in applications %}
        <p>Заявка від</p>{{ application.author.username }} <br>
        <p>На вакансію</p>{{ application.vacancy.title }} <br>

        {% if application.resume and application.resume.pk %}
        <a href="{% url 'chat_room' application.id %}" class="btn">Відповісти кандидату</a>
            <a href="{% url 'job_resume' application.resume.pk %}">
                Переглянути резюме
            </a>
            </a>
        {% else %}
            <button disabled>Резюме не додано</button>
        {% endif %}
    {% empty %}
        <p>На ваші вакансії поки немає жодного відгуку.</p>
{% endfor %}




{% endblock %}