{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>User</h1>

    {{ profile.first_name }}|
    {{ profile.last_name }}|
    {{ profile.patronymic }}|
    {{ profile.gender }}|
    {{ profile.bio }}|
    {{ profile.referral }}|

<a href="{% url 'job_creat_resume' %}">
    Створити резюме
</a>

<h3>Ваші резюме:</h3>
{% for resume in resumes %}
    <a href="{% url 'job_resume' resume.pk %}">
        <strong>{{ resume.title }}</strong>
    </a>
 
        

    
{% empty %}
    <p>Ви ще не створили жодної вакансії.</p>
{% endfor %}
{% endblock %}