{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ profile.first_name }} {{ profile.last_name }} {{ profile.patronymic }} </h1>

<img src="{{ user.profile.img_avatar }}" alt="Avatar" 
class="rounded-circle img-fluid border border-3 border-light shadow-sm" 
style="max-width: 180px; height: 180px; object-fit: cover;">
    {{ profile.gender }}|
    {{ profile.op }}|
    {{ profile.bio }}|
    {{ profile.referral }}|
    {{ profile.birth_date }}|
    {{ profile.role }}|
    {{ profile.referral }}

<a href="{% url 'update_profile' %}" class="btn btn-secondary" >
    Редагувати профіль
</a>

<a href="{% url 'job_creat_resume' %}" class="btn-L">
    Створити резюме
</a>

<h3>Ваші резюме:</h3>
{% for resume in resumes %}
    <a href="{% url 'job_resume' resume.pk %}">
        <strong>{{ resume.title }}</strong>
    </a>
 
{% empty %}
    <p>Ви ще не створили жодної .</p>
{% endfor %}

<h3>Ваші заявки</h3>
{% for application in user_applications %}
<strong>Вакансія:</strong> {{ application.vacancy.title }} <br>
            <strong>Статус:</strong> {{ application.get_status_display|default:"На розгляді" }}
{% empty %}
    <p>Ви поки ще не подали жодної заявки!</p>
{% endfor %}
{% endblock %}