{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>User</h1>

    {{ profile.first_name }}|
    {{ profile.last_name }}|
    {{ profile.patronymic }}|
    {{ profile.gender }}|
    {{ profile.op }}|
    {{ profile.bio }}|
    {{ profile.referral }}|
    {{ profile.birth_date }}|
    {{ profile.role }}|
    {{ profile.referral }}

<a href="{% url 'job_creat_resume' %}" class="btn-L">
    Створити резюме
</a>

<h3>Ваші резюме:</h3>
{% for resume in resumes %}
    <a href="{% url 'job_resume' resume.pk %}">
        <strong>{{ resume.title }}</strong>
    </a>
 
{% empty %}
    <p>Ви ще не створили жодної .</p>
{% endfor %}

<h3>Ваші заявки</h3>
{% for application in applications %}
        <p>Заявка на вакансію</p>{{ application.vacancy.title }} <br>

    {% empty %}
        <p>Ви поки ще не подали жодної заявки!</p>
        <p>Заявка на вакансію</p>{{ profile.application.vacancy.title }} <br>
{% endfor %}
{% endblock %}