<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/stayle.css' %}">
</head>
<body>
    <header class="p-3 bac-color" > 
        <div class="container"> 
            <div class="d-flex flex-wrap collapse navbar-collapse justify-content-center"> 
                <a href="/" class="me-3">
                    <img src="#" alt="Фото шапки" width="60" height="60" >
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
                    <li><a href="{% url 'job_list'%}" class="nav-link px-2 text-dark">Головна</a></li> 
                    <li><a href="{% url 'job_site'%}" class="nav-link px-2 text-dark">Про нас</a></li> 
                </ul> 
                <div class="text-end"> 
                {% if user.is_authenticated %}    
                    {% if user.employer %}
                        <a class="nav-link text-dark me-3" href="{% url 'job_company' %}">
                            Компанія: {{ user.employer.name_company }}
                        </a>
                    {% else %}
                        <a class="nav-link text-dark me-3" href="{% url 'job_profile' %}">
                            Мій кабінет: {{ user.profile.first_name }}
                        </a>
                    {% endif %}
                </div>
                <div class="text-end">
                    <a href="{% url 'logout' %}" class="btn-exit">
                        Вийти
                    </a>
                </div>


                    {% else %}
                <div class="text-end"> 
                    <a href="{% url 'job_login' %}" class="text-dark btn-yo">Увійти</a>
                    <a href="{% url 'signup_cho' %}" class="text-dark btn-regi">Зареєструватися</a>
                </div>
                    {% endif %}
            </div> 
        </div> 
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
        <div class="col-md-4 d-flex align-items-center"> 
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                <a href="/">
                    <img src="#" alt="Фото шапки" width="60" height="60" >
                </a>
            </a> 
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> 
        </div> 
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"> 
            <li class="ms-3">
                <a class="text-body-secondary" href="https://github.com/vadimanceglov-afk/Veer">
                    <i class="bi bi-github fs-3"></i>
                </a>
            </li> 
        </ul> 
    </footer>

    <script src="{% static 'js/stayle_js.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>