{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Інфа</h1>


        <strong>{{ jobs.title }}</strong>|
        {{ jobs.description }}|
        {{ jobs.description1 }}|
        {{ jobs.description2 }}|
        {{ jobs.category }}|
        {{ jobs.city }}|
        {{ jobs.link }}|
        {{ jobs.price_start }}|
        {{ jobs.price_end }}|
        {{ jobs.date }}|
        {{ jobs.company }}|

<a href="{% url 'job_list' %}" class="btn-exit">
    Назад
</a>



{% if user.employer %} 
    {% if user == jobs.company.user %}
<a href="{% url 'job_update' object.pk %}">
    Редагувати вакансію
</a>
<a href="{% url 'job_delete' object.pk %}">delete</a>

<p>Заявок({{ jobs.applications.count }})</p>
    {% endif %}
{% else %}

<a href="{% url 'apply_for_job' object.pk %}" class="text-dark btn-L">
    Подати заявку
</a>
{% endif %}


{% endblock %}