{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Про нас</title>
<h1>Вітаю на моєму сайті з пошуку роботи</h1>
<h2>JobSearch</h2>
<p>Цей сервіс розроблений як випускний навчальний проєкт. 
    За головну мету було взятто 
    — продемонструвати власне бачення сучасного сайту з пошуку роботи, 
    зробивши його максимально зручним, інтуїтивно зрозумілим та цікавим для користувачів.</p>
<p>на цьому сайті ви можете шукати роботу і розміщати резюме або вакансій</p>
<p>За мету сайт мав: показати власний сайт з пошуку роботи як я його бачу, 
    зробити зручнім і цікавим.</p>
<p></p>
<br>
<p>Для ціковості я придумав дивіз для сайту:</p>
<p>Годі лежати — самий час роботу шукати!</p>
<p></p>
<p>Ключові можливості:</p>
<p>Шукачам: Ми надаємо зручний простір для презентації своїх навичок, 
    гарантуємо прозорість розгляду заявок та допомагаємо зробити крок до роботи мрії.</p>
<p>Роботодавцям: Ми забезпечуємо прямий доступ до бази активних резюме, 
    спрощуємо комунікацію з кандидатами та допомагаємо формувати сильні команди.</p>
<p>Для цього сайту був також розроблений мною власний логотип</p>
<p>Ось він:</p>
<p>Це чемодан, на якому розміщена лупа.</p>
<li><strong>Чемодан</strong> це стабільна робота та працевлаштування.</li>
<li><strong>Лупа</strong> це швидкий, точний та ефективний пошук роботи.</li>
<p>Також я зробив власниі картинки для профілів</p>
<p>Ось вони:</p>
<p>Зробив поки такі варіацій бо я більше не встигав і це був би геморой зробити вибір картинки для профілю</p>
<br>
<p>Ми віримо, що ідеальна робота існує для кожного, і працюємо над тим, щоб шлях до неї займав лічені хвилини. 
    Приєднуйтесь до нас сьогодні та будуйте своє майбутнє разом із нами!</p>
<h3>Сайт зробив:</h3>
<h2>Янчеглов Вадим</h2>
<p>Для цього використав</p>
<p>перелік що використав</p>


<hr>

{% endblock %}