{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Відгукнутися на вакансію: {{ vacancy.title }}</h2>

{% if already_applied and application %}
    <button disabled>Вже відгукнулися</button>
    <a href="{% url 'chat_room' application.id %}" class="btn">Чат з роботодавцем</a>
    
    <p>Статус заявки: <strong>{{ application.status|default:"under_review" }} 
        ({{ application.get_status_display|default:"На розгляді" }})</strong></p>
{% else %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.resume }}
    {{ form.res_file }}
    <button type="submit">Надіслати заявку</button>
  </form>
{% endif %}
<a href="{% url 'job_list' %}">
    Назад
</a>
{% endblock %}