{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Resume</h1>
        {{ resume.author }}|
        {{ resume.title }}|
        {{ resume.description }}|

<p>статус: <strong>{{ appli.status }}</strong></p>

{% if user.employer %} 
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form action="{% url 'change_status' appli.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Прийняти</button>
</form>

{% else %}
ww
{% endif %}

{% endblock %}