{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.employer %} 
<h1>Resume</h1>
{% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
{% endif %}

    <h3>Заявки по цьому резюме на ваші вакансії:</h3>
    
    {% for appli in applications %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">
            <p><strong>Вакансія:</strong> {{ appli.vacancy.title }}</p>
            <p>Статус: <strong>{{ appli.get_status_display|default:"На розгляді" }}</strong></p>
            
            <form action="{% url 'change_status' appli.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="status" value="accepted">
                <button type="submit" class="btn btn-success">Прийняти</button>
            </form>

            <form action="{% url 'change_status' appli.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="status" value="reject">
                <button type="submit" class="btn btn-danger">Відхилити</button>
            </form>
        </div>
    {% empty %}
        <p>На ваші вакансії по цьому резюме заявок поки немає.</p>
    {% endfor %}

{% else %}
<h1>Resume</h1>
<div class="container mt-4">
  <div class="row justify-content-center"> 
    <div class="text-start">
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow border-0" style="width:100%; max-width:720px; border-radius:15px;">
                <div class="card-body p-4">
                    {% for resume in profil %}
                        {{ resume.first_name }}
                        {{ resume.age }}
                    {% endfor %}
                    {{ resume.author }}|
                    {{ resume.title }}|
                    {{ resume.description }}|
                    {{ resume.description1 }}
                    {{ resume.description2 }}
                    {{ resume.description3 }}
                    {{ resume.description4 }}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
        <a href="{% url 'resume_update' resume.pk %}" class="btn btn-warning">Редагувати</a>
{% endif %}

{% endblock %}