{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Про нас</title>


<div class="container">
<h1 class="text-center">Вітаю на моєму сайті з пошуку роботи</h1>
<div class="text-center">
<img src="{% static 'image/s-logo.png' %}" class="card-img-top" alt="" style="width: 35px; height: 35px;">

</div>
<h2 class="text-center">JobSearch</h2>

<p class="text-center fs-5">Цей сервіс розроблений як випускний навчальний проєкт. 
    За головну мету було взато 
    — продемонструвати власне бачення сучасного сайту з пошуку роботи, 
    зробивши його максимально зручним, інтуїтивно зрозумілим та цікавим для користувачів.</p>

<p class="text-center fs-5">на цьому сайті ви можете шукати роботу і розміщати резюме або вакансій</p>

<p class="text-center fs-5">За мету сайт мав: показати власний сайт з пошуку роботи як я його бачу, 
    зробити зручнім і цікавим.</p>
<br>
<p class="text-center fs-5">Для ціковості я придумав дивіз для сайту:</p>
<p class="text-center fs-5">Годі лежати — самий час роботу шукати!</p>

<p class="text-center fs-5">Ключові можливості:</p>
<p class="fs-5">Шукачам: Ми надаємо зручний простір для презентації своїх навичок, 
    гарантуємо прозорість розгляду заявок та допомагаємо зробити крок до роботи мрії.</p>

<p class="fs-5">Роботодавцям: Ми забезпечуємо прямий доступ до бази активних резюме, 
    спрощуємо комунікацію з кандидатами та допомагаємо формувати сильні команди.</p>

<p class="text-center fs-5">Для цього сайту був також розроблений мною власний логотип</p>
<p class="text-center fs-5">Ось він:</p>
<div class="text-center">
<img src="{% static 'image/s-logo.png' %}" class="card-img-top" alt="" style="width: 300px; height: 300px;">

</div>
<p class="fs-5">Це чемодан, на якому розміщена лупа.</p>

<li class="fs-5"><strong>Чемодан</strong> це стабільна робота та працевлаштування.</li>
<li class="fs-5"><strong>Лупа</strong> це швидкий, точний та ефективний пошук роботи.</li>

<p class="fs-5">Також я зробив власниі картинки для профілів</p>
<p class="text-center fs-5">Ось вони:</p>
<div class="text-center">
<img src="{% static 'image/user-job.png' %}" class="card-img-top" alt="" style="width: 500px; height: 400px;">

</div>
<p class="text-center fs-5">Зробив поки такі варіацій бо я більше не придумав </p>
<br>
<p class="fs-5">Я дуже старвся над сайтом і він вийшов кльовим :)</p>


<hr>
<p class="text-center fs-5">Відгуки про мій сайт </p>
{% if user.is_authenticated %}
    {% if user_already_responded %}
        <p>Ви вже залишили відгук про наш сайт. Дякуємо!</p>
    {% else %}
        <form method="POST" action="" class=" gap-2">
            {% csrf_token %}
            <div style="height: 150px; max-width: 400px;">
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-success">Опублікувати відгук</button>
        </form>

    {% endif %}
{% else %}
    <p class="text-center">Будь ласка, увійдіть, щоб залишити відгук.</p>
{% endif %}

<br>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for res in responses %}
            <div class="col">
                <div class="card mb-3 shadow-sm border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="d-flex align-items-center">
                                {% if res.author.profile %}
                                    <img src="{{ res.author.profile.img_avatar }}" alt="Avatar" 
                                         class="rounded-circle img-fluid border border-3 border-light shadow-sm" 
                                         style="width: 35px; height: 35px; object-fit: cover;">
                                <p class="fw-bold mb-0 px-2">
                                    {{ res.author.profile.first_name }} {{ res.author.profile.last_name }}:
                                </p>
                                {% elif res.author.employer %}
                                    <img src="{{ res.author.employer.img_logo }}" alt="Avatar" 
                                         class="rounded-circle img-fluid border border-3 border-light shadow-sm" 
                                         style="width: 35px; height: 35px; object-fit: cover;">
                                                                         <p class="fw-bold mb-0 px-2">
                                    {{ res.author.employer.name_company }}:
                                </p>
                                {% else %}
                                <p>Admin:</p>
                                {% endif %}

                                    
                            </div>

                            <div class="text-end text-muted small">
                                {{ res.date|date:"d, Y, H:i" }}
                            </div>

                        </div>

                        <p class="card-text mt-3">{{ res.content }}</p>

                        <div class="text-end">
                            <a class="btn btn-outline-success" href="{% url 'Like_Response' res.id %}">
                                Лайк {{ res.likes.count }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    <br>

<h3 class="text-center">Сайт зробив:</h3>
        <div class="d-flex justify-content-center mb-4">
            <div class="card shadow-sm" style="width: 18rem;">
                <img src="{% static 'image/m0.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="mb-0 text-center">Янчеглов Вадим</h2>
                </div>
            </div>
        </div>
    <p class="text-center fs-5 fw-bold">Для цього використав</p>

<div class="text-center fs-5">
    <p>Django</p>
    <p>Bootstrap</p>
    <p>Phyton</p>
    <p>VS code</p>
    <p>Js</p>
    <p>Html</p>
    <p>CSS</p>
    <p>Figma</p>
    <p>Gemini</p>
    <p>GitHub</p>
</div>

</div>
{% endblock %}