{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center mb-2">
    <form action="{% url 'job_surh' %}" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            {{ search_form.q }}
        </div>
        <div class="col-12">
            <button type="submit" class=" btn-exit">Пошук</button>
        </div>
    </form>
</div>
<form action="{% url 'job_surh' %}" method="get">
    <input type="hidden" name="q" value="{{ query|default:'' }}">
        <div class="col-md-3">
            <div class="form-floating">
                <select name="city" class="form-select" id="city_select">
                    <option value="">Всі міста</option>
                    {% for c in cities %}
                        <option value="{{ c.id }}" {% if selected_city == c.id|stringformat:"i" %}selected{% endif %}>
                            {{ c.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="city_select">Місто</label>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                <select name="category" class="form-select" id="cat_select">
                    <option value="">Всі категорії</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if selected_category == cat.id|stringformat:"i" %}selected{% endif %}>
                            {{ cat.name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="cat_select">Категорія</label>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-floating">
                <input type="number" name="price_start" class="form-control" id="price_start" 
                       value="{{ price_start }}" placeholder="Ціна від">
                <label for="price_start">Ціна від</label>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-floating">
                <input type="number" name="price_end" class="form-control" id="price_end" 
                       value="{{ price_end }}" placeholder="Ціна до">
                <label for="price_end">Ціна до</label>
            </div>
        </div>

        <div>
            <button type="submit" class=" btn-exit">
                Фільтрувати
            </button>
        </div>


</form>


{% for jo in vac %}
<a href="{% url 'job_datail' pk=jo.id %}">
        {{ jo.company }}|
        {{ jo.title }}|
        {{ jo.category }}|
        {{ jo.city }}
</a>
{% empty %}
<h2>Не існує такої вакансій!</h2>
{% endfor %}

{% endblock %}