{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Інфа</h1>


        <strong>{{ jobs.title }}</strong>|
        {{ jobs.description }}|
        {{ jobs.description1 }}|
        {{ jobs.description2 }}|
        {{ jobs.category }}|
        {{ jobs.city }}|
        {{ jobs.link }}|
        {{ jobs.employment_type }}|
        {{ jobs.work_format }}|
        {{ jobs.experience }}|
        {{ jobs.price_start }}|
        {{ jobs.price_end }}|
        {{ jobs.date }}|
        {{ jobs.company }}|




{% if user.employer %} 
    {% if user == jobs.company.user %}
        <a href="{% url 'job_update' object.pk %}" class="btn btn-warning">
            Редагувати мою вакансію
        </a>
        <a href="{% url 'job_delete' object.pk %}" class="btn btn-danger">delete</a>

        <a href="{% url 'job_company' %}" class="btn-exit">
            Назад
        </a>
    {% endif %}
{% else %}

<a href="{% url 'apply_for_job' object.pk %}" class=" btn-L">
    Подати заявку
</a>

<a href="{% url 'job_list' %}" class="btn-exit">
    Назад
</a>
{% endif %}


{% endblock %}