{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Створити резюме</h1>

<form method="POST">
{% csrf_token %}
<div class="mb-1">
    <strong>Заголовок:</strong>
</div>
{{ form.title }}
<div class="mb-1">
    <strong>Опис:</strong>
</div>
{{ form.description }}

<div class="mb-1">
    <strong>Опис:</strong>
</div>
{{ form.description1 }}

<div class="mb-1">
    <strong>Опис:</strong>
</div>
{{ form.description2 }}

<div class="mb-1">
    <strong>Опис:</strong>
</div>
{{ form.description3 }}

<div class="mb-1">
    <strong>Опис:</strong>
</div>
{{ form.description4 }}
<button type="submit" class="btn btn-success">Зберегти</button>
</form>

<a href="{% url 'job_list' %}" class="btn btn-light">
    Назад
</a>

{% endblock %}